/* Denzel Dalton */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8fafa;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section p {
    margin-left: 25%;
    margin-right: 25%;
}

footer {
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    margin: 0 auto;
}
#footer-start {
    font-weight: bold;
}
ul .icon {
    display: none;
}

