/* Denzel Dalton */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8fafa;
    margin: 0;
    min-height: 100vh;
}
section {
    padding-top: 5rem;
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

section p {
    margin-left: 15%;
    margin-right: 15%;
}

section footer {
    height: 2rem;
    text-align: center;
    font-size: small;
    padding: 1.5rem 0;
    margin-top: auto;
    margin-left: 5%;
    margin-right: auto;
    padding: 0;
}

section footer p{
    margin: 0;
}
#footer-start {
    font-weight: bold;
}
ul .icon {
    display: none;
}

nav{
    position: fixed;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    flex-basis: 100%;
}
nav ul li {
    float: left;
    border-right: 1px solid #bbb;
}
nav ul li:nth-last-child(1)  {
    border-right: none;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem .8rem;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #111;
}
#headshot {
    width: 35rem;
    height: 20rem;
}

.active {
    background-color: #04AA6D;
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2.1rem;
}
.toggle-button .bar {
    height: 30px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: #333 solid;
}
.navbar{
    width: 100%;
}
@media screen and (max-width: 768px){
    .toggle-button{
        display: flex;
        justify-content: space-between;
    }
    .navbar-links {
        display: none;
    }
}